version: '3.8'

services:
  client:
    build:
      context: ./client
    ports:
      - "8080:80"
    depends_on:
      - server
    networks:
      - app-network

  server:
    build:
      context: ./server
    ports:
      - "4000:4000"
    depends_on:
      - mongo
    environment:
      - MONGO_URI=mongodb://mongo:27017/cpp_project_db  # Указываем строку подключения к MongoDB
    networks:
      - app-network

  mongo:
    image: mongo:latest
    restart: unless-stopped
    volumes:
      - mongo-data:/data/db
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  mongo-data: {}
